<a href="https://colab.research.google.com/github/A-A27/SW_Expert_Academy/blob/main/Difficulty_01/0602.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 2070. 큰 놈, 작은 놈, 같은 놈
T = int(input())
for i in range(T):
    a, b = map(int, input().split())
    if a > b:
        print('#' + str(i+1) + ' ' + '>')
    elif a == b:
        print('#' + str(i+1) + ' ' + '=')
    elif a < b:
        print('#' + str(i+1) + ' ' + '<')

3
3 8
#1 <
7 7
#2 =
369 123
#3 >

In [ ]:
# 2050. 알파벳을 숫자로 변환
S = str(input())
Alpha = {'A':1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':7,'H':8,'I':9,'J':10,'K':11,'L':12,'M':13,'N':14,'O':15,'P':16,'Q':17,'R':18,'S':19,'T':20,'U':21,'V':22,'W':23,'X':24,'Y':25,'Z':26}
for  i in range(len(S)):
    if i != len(S)-1:
        print(Alpha[S[i]], end = ' ')
    elif i == len(S)-1:
        print(Alpha[S[i]])

ABCDEFGHIJKLMNOPQRSTUVWXYZ
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26

In [5]:
# 2063. 중간값 찾기
n = int(input())
nL = list(input().split())
for i in range(n):
  nL[i] = int(nL[i])
nL = sorted(nL)
print(nL[n//2])

199
85 72 38 80 69 65 68 96 22 49 67 51 61 63 87 66 24 80 83 71 60 64 52 90 60 49 31 23 99 94 11 25 24 51 15 13 39 67 97 19 76 12 33 99 18 92 35 74 0 95 71 39 33 39 32 37 45 57 71 95 5 71 24 86 8 51 54 74 24 75 70 33 63 29 99 59 94 52 13 35 99 46 57 71 23 17 3 94 48 77 18 83 11 83 25 59 62 2 78 86 7 94 65 80 32 39 84 60 65 72 61 58 84 8 72 12 19 47 49 49 59 71 52 34 22 21 20 92 33 80 39 74 9 28 97 100 93 29 25 4 66 79 81 98 21 91 62 82 4 59 100 34 1 51 80 92 69 77 39 38 97 51 34 35 19 22 1 67 9 90 31 82 11 51 84 78 70 74 42 100 88 53 80 57 62 32 51 48 63 92 46 4 61 31 98 69 52 88 20
58

In [9]:
# 2019. 더블더블
n = int(input())
t = 1
for i in range(1,n+2):
  if i == 1:
    print(t, end = ' ')
  elif i > 1 and i != n+1:
    t *= 2
    print(t, end = ' ')
  elif i == n+1:
    t *= 2
    print(t)

8
1 2 4 8 16 32 64 128 256

In [10]:
# 1545. 거꾸로 출력해 보아요
n = int(input())
for i in range(n,-1,-1):
    if i != 0:
        print(i, end = ' ')
    elif i == 0:
        print(i)

8
8 7 6 5 4 3 2 1 0

In [13]:
# 2072. 홀수만 더하기
T = int(input())
for i in range(T):
    a = list(input().split())
    asum = []
    for k in range(10):
        a[k] = int(a[k])
        if a[k] % 2 != 0:
            asum.append(a[k])
    print('#' + str(i+1) + ' ' + str(sum(asum)))

3
3 17 1 39 8 41 2 32 99 2
#1 200
22 8 5 123 7 2 63 7 3 46
#2 208
6 63 2 3 58 76 21 33 8 1
#3 121

In [14]:
# 2071. 평균값 구하기
T = int(input())
for i in range(T):
    a = list(input().split())
    for k in range(10):
        a[k] = int(a[k])
    print('#' + str(i+1) + ' '+ str(round(sum(a)/10)))

3
3 17 1 39 8 41 2 32 99 2
#1 24
22 8 5 123 7 2 63 7 3 46
#2 29
6 63 2 3 58 76 21 33 8 1
#3 27

In [15]:
# 2056. 연월일 달력
T = int(input())
M = ['01','03','05','07','08','10','12']
M2 = ['02']
M3 = ['04','06','09','11']
for i in range(T):
    a = str(input())
    if a[0:4] != '0000':
        if a[4:6] in M:
            if int(a[6:8]) in range(1,32):
                print('#' + str(i+1) + ' ' + a[0:4] +'/'+a[4:6]+'/'+a[6:8])
            else:
                print('#' + str(i+1) + ' ' + str(-1))
        elif a[4:6] in M2:
            if int(a[6:8]) in range(1,29):
                print('#' + str(i+1) + ' ' + a[0:4] +'/'+a[4:6]+'/'+a[6:8])
            else:
                print('#' + str(i+1) + ' ' + str(-1))
        elif a[4:6] in M3:
            if int(a[6:8]) in range(1,31):
                print('#' + str(i+1) + ' ' + a[0:4] +'/'+a[4:6]+'/'+a[6:8])
            else:
                print('#' + str(i+1) + ' ' + str(-1))
        else:
            print('#' + str(i+1) + ' ' + str(-1))
    else:
        print('#' + str(i+1) + ' ' + str(-1))

5
22220228
#1 2222/02/28
20150002
#2 -1
01010101
#3 0101/01/01
20140230
#4 -1
11111111
#5 1111/11/11